In [1]:
import pandas as pd

In [7]:
X_train = pd.read_parquet(f"../data/05_model_input/X_train.pq")
print(X_train.dtypes)
X_train.head()

engines                    float64
passenger_capacity           int64
crew                       float64
d_check_complete             int64
moon_clearance_complete      int64
iata_approved                int64
company_rating             float64
review_scores_rating       float64
dtype: object

,engines,passenger_capacity,crew,d_check_complete,moon_clearance_complete,iata_approved,company_rating,review_scores_rating
740550,1.0,4,1.0,1,0,0,1.0,100.0
444139,5.0,8,6.0,1,0,0,1.0,90.0
1006101,3.0,4,3.0,1,0,0,1.0,100.0
1199039,3.0,6,3.0,1,0,0,1.0,90.0
1579578,2.0,8,5.0,0,0,1,1.0,91.0

In [5]:
y_train = pd.read_parquet(f"../data/05_model_input/y_train.pq")
print(y_train.dtypes)
y_train.head()

price    float64
dtype: object

          price
740550   2872.0
444139   4003.0
1006101  3574.0
1199039  4107.0
1579578  2690.0